.navigation {
  position: fixed;
  width: 14.75rem;
  height: 100%;
  background: #287bff;
  border-left: 10px solid #287bff;
  transition: 0.5s;
  overflow: hidden;
}

.navigation.active {
  width: 5rem;
}
.shop-logo {
  filter: invert(1) !important;
  transform: scale(1.2);
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 1.87rem;
  border-bottom-left-radius: 1.87rem;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background: white;
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: #287bff;
}

.navigation ul li:nth-child(1) {
  margin-bottom: 3.5rem;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: white;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 3.75rem;
  height: 3.75rem;
  line-height: 4.375rem;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 3.75rem;
  line-height: 3.75rem;
  text-align: start;
  white-space: nowrap;
}

.navigation ul li a img {
  width: 2rem;
  filter: opacity(0.7);
  filter: brightness(2.5);
}

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -3.125rem;
  width: 3.125rem;
  height: 3.125rem;
  background: transparent;
  border-radius: 50%;
  box-shadow: 2.1rem 2.1rem 0 0.6rem white;
  pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -3.125rem;
  width: 3.125rem;
  height: 3.125rem;
  background: transparent;
  border-radius: 50%;
  box-shadow: 2.1rem -2.1rem 0 0.6rem white;
  pointer-events: none;
}
